/**************************************************************************** 
   1. Typography
   2. Header
      2.1 main-nav-menu-section
      2.2 header-carousel-section
   3. Main
	  3.1 smartphone-section
	  3.2 categories-section
	  3.3 about-us-section
   4. footer-section
   5. animation

******************************************************************************/

/*********** 1. Typography ***********/

body {
    font-family: 'Poppins';
    padding-top: 110px;
}
h2 {
    font-size: 25px;
    font-weight: 900;
}
h6 {
    font-weight: 900;
}
.text-bold {
    font-weight: 900;
    font-size: 18px;
}
.btn-dark {
    background: #000000;
    padding: 0.5rem 1.5rem;
    font-size: 15px;
    border-radius: 10px;
}
.d-flex a {
    color: #FF9800;
    font-weight: bold;
    font-size: 15px;
}
.card {
    border: none;
}
.card p {
    font-size: 14px;
    color: #808080;
    line-height: 1.8;
}
.box-shadow:hover {
    box-shadow: 0 10px 30px 
    #00000030;
    transition: linear .2s;
}

/****************** 2. header *********************/

/********** 2.1 main-nav-menu-section *********/

.main-nav-menu-section li a {
    font-size: 14px;
}
.main-nav-menu-section li {
    padding: 0.75rem;
}

/********** 2.2 header-carousel-section *********/

.carousel-inner h1 {
    font-size: 36px;
    color: #121212;
}
.carousel-inner p {
    font-size: 14px;
    color: #808080;
    line-height: 2;
    width: 75%;
}

@media only screen and (max-width: 767px) {
    .carousel-inner p {
      width: 100% !important;
    }
}

.carousel-indicators{
    bottom: -12%;
}
.carousel-indicators li.active {
    background-image: linear-gradient( #FFB926, #FFD019 );
    padding: 3px 3px;
    border-radius: 13px !important;
    cursor: pointer;
}
.carousel-indicators li:not(.active) {
    background-color:  #808080;
    border-radius: 13px !important;
    padding: 2px 0px;
    width: 12px;
    cursor: pointer;
}

/****************** 3. Main *********************/

/********** 3.1 smartphone-section *********/

.smartphone-section .card img {
    width: 75%;
    margin: auto;
}

/********** 3.2 categories-section *********/

.categories-section h2, .about-us-section h2 {
    position: relative;
}
.categories-section h2::after {
    content: "";
    background: linear-gradient(90deg,#FFBC0C,#FF9C36);
    width: 100px;
    height: 7px;
    top: 55px;
    left: calc(50% - 50px);
    right: calc(50% - 50px);
    position: absolute;
    border-radius: 20px;
}
.category {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    width: 210px;
    height: 225px;
    margin: 15px 0;
    box-shadow: 0px 4px 50px 30px #f2f2f2;
}

/********** 3.3 about-us-section *********/

.about-us-section h2::after {
    content: "";
    background: linear-gradient(90deg,#FFBC0C,#FF9C36);
    width: 100px;
    height: 7px;
    top: 45px;
    left: calc(50% - 50px);
    right: calc(50% - 50px);
    position: absolute;
    border-radius: 20px;
}
.about-us-section p {
    font-size: 14px;
    color: #808080;
    line-height: 1.8;
}

/********** 4. footer-section *********/

footer {
    background: linear-gradient(90deg, #FEBE20, #FF5698);
    color: white;
}
footer a {
    color: white;
}

/****************** animation *******************/

@keyframes animate-left {
    From {
        left: -500px;
    }
    To {
        left: 0;
    }
}
.animate-left {
    position: relative;
    animation-name: animate-left;
    animation-duration: 0.5s;
    animation-timing-function: linear;
}
@keyframes animate-right {
    From {
        right: -500px;
    }
    To {
        right: 0;
    }
}
.animate-right {
    position: relative;
    animation-name: animate-right;
    animation-duration: 0.6s;
    animation-timing-function: linear;
}
@keyframes animate-top {
    From {
        top: -500px;
    }
    To {
        top: 0;
    }
}
.animate-top {
    position: relative;
    animation-name: animate-top;
    animation-duration: 0.7s;
    animation-timing-function: linear;
}
@keyframes animate-bottom {
    From {
        bottom: -500px;
    }
    To {
        bottom: 0;
    }
}
.animate-bottom {
    position: relative;
    animation-name: animate-bottom;
    animation-duration: 0.8s;
    animation-timing-function: linear;
}

